$font: 'Montserrat', sans-serif;
@mixin center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
body {
	background-color: black;
	font-family: $font;
  color: white;
}
.jumbotron {
  h1 {
    text-align: center;
    color: black;
  }
}
footer {
	background-color: black;
	color: white;
	padding: 20px;
	margin: 0;
}
img {
	@include center;
}
.btn-primary {
	@include center;
	margin-top: 10px;
}
@for $i from 1 through 13 {
  .rateYo#{$i} {display: block;  margin-left: auto;
	  margin-right: auto;}
}
#description {
	height: 300px;
}
