$font: 'Montserrat', sans-serif;
@mixin center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
body {
	background-color: black;
	font-family: $font;
  color: white;
}
.jumbotron {
	background-color: black;
  h1 {
    text-align: center;
    color: white;
		font-weight: bold;
		text-shadow: 2px 2px 4px blue;
  }
}
footer {
	background-color: black;
	color: white;
	padding: 20px;
	margin: 0;
}
img {
	@include center;
	border: 1px solid black;
}
.btn-primary {
	@include center;
	margin-top: 10px;
}
@for $i from 1 through 17 {
  .rateYo#{$i} {display: block;  margin-left: auto;
	  margin-right: auto;}
	.triangle#{$i} {margin-bottom: -5px; z-index: 10000;}
}
#description {
	min-height: 300px;
}
#review {
	border: 5px solid white;
	border-radius: 10px;
	color: black;
	background-color: white;
	h1 {
		padding: 30px;
		border-radius: 3px;
		font-weight: bold;
	}

}
#info {
	padding: 30px;
	padding-top: 10px;
	background-color: black;
	color: white;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	h4 {
		margin-top: 10px;
	}
}
